.mobileNotSupported {
	position: fixed;
	background-color: #080808;
	height: 100%;
	width: 100%;
	text-align: center;
	display: none;
}

@media screen and (max-width: 1500px) {
	.mobileNotSupported {
		display: block;
	}
	.mobileNotSupported > header {
		width: auto;
		height: auto;
		position: fixed;
		margin: auto;
		left: 0;
		right: 0;
	}
	header > h1 {
		font-size: 8vw;
	}
	header > p {
		font-size: 3vw;
	}
	.pcInterface {
		display: none;
	}
}
