.Contact {
	display: flex;
	flex-direction: row-reverse;
}
.Contact-contents {
	width: 50rem;
	border: #5cce02 1px solid;
	margin: 4rem 4rem 4rem 4rem;
	font-size: 64px;
	font-weight: 600;
}

.contact-form {
	border: #5cce02 1px solid;
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}
.enter-text {
	color: #5cce02;
	font-size: 68px;
}
.title {
	color: #88ffef;
}
.map-contents {
	border: #5cce02 1px solid;
	margin: 6rem auto 4rem 0rem;
	width: 40rem;
	height: 80vh;
}
