.card {
	font-family: "NanumSquare", "Noto Sans KR", "sans-serif";
}

.card img {
	margin: 4%;
	height: 80px;
	float: left;
}

.card .card_title {
	padding-top: 8%;
	font-size: 24px;
}

header {
	height: 120px;
}

ul {
	list-style: disc;
	padding: 0px 40px;
}

main {
	font-size: 20px;
	line-height: 1.5;
}

main .summary {
	word-wrap: break-word;
}

.techStack {
	display: inline;
}

div .React {
	color: #61dafb;
}

div .Flutter {
	color: #025397;
}

div .Typescript {
	color: #2e72bc;
}

div .Firebase {
	color: #f5820c;
}

div .Flask {
	color: #f2c43a;
}

div .nodeJS {
	color: #7cc327;
}

div .django {
	color: #0c4b33;
}

div .GO {
	color: #7fd5ea;
}

div .TensorFlow {
	color: #ff8400;
}

.link {
	text-decoration: none;
	color: #88ffef;
	float: right;
}
