.Work {
	display: flex;
	flex-direction: row-reverse;
}
.Work-contents {
	width: 90rem;
	border: #5cce02 1px solid;
	margin: 4rem auto 4rem 4rem;
	font-size: 64px;
	font-weight: 600;
}
.enter-text {
	color: #5cce02;
	font-size: 68px;
}
.title {
	color: #88ffef;
}
